<style>
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');
.bg-dark 
{
    background-color: #343a40!important;
}
</style>
<div class="container container mt-4 mb-5">
<h1 class="display-4 text-center"> Технології створення веб-сайтів </h1>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <%= image_tag("html.png", height: '200', width: '300') %>
                <div class="card-block p-3">
                    <h4 class="card-title">HTML:</h4>
                    <p class="card-text"> Мова розмітки веб-сторінок. Документ HTML оброблюється браузером і відтворюється у звичному для людини вигляді.</p>
                    <a href="https://developer.mozilla.org/ru/docs/HTML/HTML5" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <%= image_tag("css.png", height: '200', width: '250') %>
                <div class="card-block p-3">
                    <h4 class="card-title">CSS:</h4>
                    <p class="card-text">Спеціальна мова, що використовується для опису зовнішнього вигляду сторінок, написаних мовами розмітки даних.</p>
                    <a href="https://developer.mozilla.org/ru/docs/Web/CSS/Reference" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <%= image_tag("bootstrap.jpeg", height: '200', width: '250') %>
                <div class="card-block p-3">
                    <h4 class="card-title">BOOTSTRAP:</h4>
                    <p class="card-text">Безкоштовний набір інструментів з відкритим кодом, призначений для створення веб-сайтів, який містить шаблони CSS та HTML.</p>
                    <a href="http://bootstrap-4.ru/" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <%= image_tag("RubyOnRails.jpeg", height: '200', width: '250') %>
                <div class="card-block p-3">
                    <h4 class="card-title">Ruby On Rails:</h4>
                    <p class="card-text"> Об'єктно-орієнтований програмний каркас (фреймворк) для створення веб-додатків, написаний на мові програмування Ruby.</p>
                    <a href="http://rusrails.ru/" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-dark mb-4 w-25">
    <div class="container container mt-4 mb-5">
        <h1 class="display-4 text-center"> Діаграми та гістограми до ключових слів репозиторіїв GitHub </h1>
        <hr class="bg-dark mb-4 w-25">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block p-6">
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                              google.charts.load("current", {packages:["corechart"]});
                              google.charts.setOnLoadCallback(drawChart);
                              function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                  ['Lanquage', 'Count'],
                                  ['Java',     63831],
                                  ['Python',      48315],
                                  ['C++',  38611],
                                  ['C', 33152],
                                  ['JavaScript',    21450],
                                  ['C#',    17930],
                                  ['HTML',    11698],
                                  ['Ruby',    9133],
                                  ['Go',    5558],
                                  ['PHP',    5220]
                                ]);

                                var options = {
                                  title: 'Діаграма по ключовому слову "programing"',
                                  is3D: true,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                                chart.draw(data, options);
                              }
                            </script>
                            <div id="piechart_3d" style="width: 450px; height: 350px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block p-6">       
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                            google.charts.load('current', {packages: ['corechart', 'bar']});
                            google.charts.setOnLoadCallback(drawTitleSubtitle);

                            function drawTitleSubtitle() {
                                var data = google.visualization.arrayToDataTable
                                ([
                                    ['', 'Популярність', { role: 'style' }],
                                    ['Java', 25, '#b87333'],
                                    ['Python', 19, 'silver'],
                                    ['C++', 15, 'gold'],
                                    ['C', 13, 'color: #e5e4e2' ],
                                    ['JavaScript', 8, 'silver'],
                                    ['C#', 7, 'silver'],
                                    ['HTML', 5, 'silver'],
                                    ['Ruby', 4, 'silver'],
                                    ['Go', 2, 'silver'],
                                    ['PHP', 2, 'silver'],
                                ]);

                              var options = {
                                  title: 'Гістограма',
                              };

                              var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
                              materialChart.draw(data, options);
                            }
                            </script>
                            <div id="chart_div" style="width:730px; height: 350px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block p-6">
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                              google.charts.load("current", {packages:["corechart"]});
                              google.charts.setOnLoadCallback(drawChart);
                              function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                  ['Lanquage', 'Count'],
                                  ['HTML',    80958],
                                  ['JavaScript',    59052],
                                  ['CSS',  54708],
                                  ['PHP',    35574],
                                  ['Python',      15963],
                                  ['Ruby',    13486],
                                  ['Java',     6656],
                                  ['C#',    5495],
                                  ['TypeSript',    2381],
                                  ['Shell',     2350]
                                ]);

                                var options = {
                                  title: 'Діаграма по ключовому слову "site"',
                                  is3D: true,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                                chart.draw(data, options);
                              }
                            </script>
                            <div id="piechart" style="width: 450px; height: 350px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block p-6">       
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                            google.charts.load('current', {packages: ['corechart', 'bar']});
                            google.charts.setOnLoadCallback(drawTitleSubtitle);

                            function drawTitleSubtitle() {
                                var data = google.visualization.arrayToDataTable
                                ([
                                    ['', 'Популярність', { role: 'style' }],
                                    ['HTML', 29, '#b87333'],
                                    ['JavaScript', 21, 'silver'],
                                    ['CSS', 20, 'gold'],
                                    ['PHP', 13, 'color: #e5e4e2' ],
                                    ['Python', 6, 'color: #e5e4e2' ],
                                    ['Ruby', 5, 'color: #e5e4e2' ],
                                    ['Java', 2, 'color: #e5e4e2' ],
                                    ['C#', 2, 'color: #e5e4e2' ],
                                    ['TypeSript', 1, 'color: #e5e4e2' ],
                                    ['Shell', 1, 'color: #e5e4e2' ],
                                ]);

                              var options = {
                                  title: 'Гістограма',
                              };

                              var materialChart = new google.charts.Bar(document.getElementById('chart2_div'));
                              materialChart.draw(data, options);
                            }
                            </script>
                            <div id="chart2_div" style="width:730px; height: 350px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block p-6">
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                              google.charts.load("current", {packages:["corechart"]});
                              google.charts.setOnLoadCallback(drawChart);
                              function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                  ['Lanquage', 'Count'],
                                  ['JavaScript',     145673],
                                  ['Java',      106541],
                                  ['C#',  73274],
                                  ['C++',  50167],   
                                  ['Python', 49838],
                                  ['HTML',    33630],
                                  ['C',    18492],
                                  ['Ruby',    17563],
                                  ['CSS',    12244],
                                  ['Swift',    9650]
                                ]);

                                var options = {
                                  title: 'Діаграма по ключовому слову "game"',
                                  is3D: true,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
                                chart.draw(data, options);
                              }
                            </script>
                            <div id="piechart2" style="width: 450px; height: 350px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block p-6">       
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                            google.charts.load('current', {packages: ['corechart', 'bar']});
                            google.charts.setOnLoadCallback(drawTitleSubtitle);

                            function drawTitleSubtitle() {
                                var data = google.visualization.arrayToDataTable
                                ([
                                    ['', 'Популярність', { role: 'style' }],
                                    ['JavaScript', 28, 'red'],           
                                    ['Java', 21, 'silver'],            
                                    ['C#', 14, 'yellow'],
                                    ['C++', 10, 'indigo' ],
                                    ['Python', 10, 'blue' ],
                                    ['HTML', 6, 'rosybrown' ],
                                    ['C', 4, 'black' ],
                                    ['Ruby', 3, 'lime' ],
                                    ['CSS', 2, 'lightslategray' ],
                                    ['Swift', 2, 'darkslategray' ],
                                ]);
                                var options = {
                                    title: 'Гістограма',
                                  };
                                var materialChart = new google.charts.Bar(document.getElementById('chart3_div'));
                                    materialChart.draw(data, options);
                                }
                            </script>
                            <div id="chart3_div" style="width:730px; height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>