<style>
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');
.bg-dark 
{
    background-color: #343a40!important;
}
.tra
{
    align
}
table 
{
    border: 2; 
    text-align: center;
}
</style>
<div class="container container mt-4 mb-5">
<h1 class="display-4 text-center"> Технології створення веб-сайтів </h1>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <%= image_tag("html.png", height: '200', width: '300') %>
                <div class="card-block p-3">
                    <h4 class="card-title">HTML:</h4>
                    <p class="card-text"> Мова розмітки веб-сторінок. Документ HTML оброблюється браузером і відтворюється у звичному для людини вигляді.</p>
                    <a href="https://developer.mozilla.org/ru/docs/HTML/HTML5" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <%= image_tag("css.png", height: '200', width: '250') %>
                <div class="card-block p-3">
                    <h4 class="card-title">CSS:</h4>
                    <p class="card-text">Спеціальна мова, що використовується для опису зовнішнього вигляду сторінок, написаних мовами розмітки даних.</p>
                    <a href="https://developer.mozilla.org/ru/docs/Web/CSS/Reference" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <%= image_tag("bootstrap.jpeg", height: '200', width: '250') %>
                <div class="card-block p-3">
                    <h4 class="card-title">BOOTSTRAP:</h4>
                    <p class="card-text">Безкоштовний набір інструментів з відкритим кодом, призначений для створення веб-сайтів, який містить шаблони CSS та HTML.</p>
                    <a href="http://bootstrap-4.ru/" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <%= image_tag("RubyOnRails.jpeg", height: '200', width: '250') %>
                <div class="card-block p-3">
                    <h4 class="card-title">Ruby On Rails:</h4>
                    <p class="card-text"> Об'єктно-орієнтований програмний каркас (фреймворк) для створення веб-додатків, написаний на мові програмування Ruby.</p>
                    <a href="http://rusrails.ru/" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-dark mb-4 w-25">
    <center><h1>Коротка таблиця даних з GitHub</h1></center>
    <table  class="table">
        <tr>
            <td><h4>Мова програмування</h4></td>
            <td><h4>Кількість репозиторіїв по слову "Programing"</h4></td>
        </tr>

        <tr>
            <td>Java</td>
            <td>63791</td>
        </tr>

        <tr>
            <td>Python</td>
            <td>48291</td>
        </tr>

        <tr>
            <td>C++</td>
            <td>38588</td>
        </tr>

        <tr>
            <td>C</td>
            <td>33139</td>
        </tr>

        <tr>
            <td>JavaScript</td>
            <td>21439</td>
        </tr>

        <tr>
            <td>C#</td>
            <td>17928</td>
        </tr>

        <tr>
            <td>HTML</td>
            <td>11688</td>
        </tr>

        <tr>
            <td>Ruby</td>
            <td>9134</td>
        </tr>

        <tr>
            <td>Go</td>
            <td>5556</td>
        </tr>

        <tr>
            <td>PHP</td>
            <td>5219</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>